$color__background-body: #fff;
$color__background-button: #25ca6f;

$color__default_font: #707070;
$color__title_font: #333;
$color__theme: #25ca6f;



$title-family:  'circular';
$text-btn:  'Quicksand';
$default-family: "Quicksand";
