{
  "name": "robolist-lite",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "assets/src/sass/robolist.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"assets/css/robolist.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "assets",
      "assets/src",
      "assets/src/sass",
      "assets/src/sass/vendor",
      "assets/src/sass/vendor/bootstrap"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "assets/src/sass/robolist.scss",
      "imports": [
        "assets/src/sass/robolist/utils/_variables.scss",
        "assets/src/sass/vendor/_bootstrap.scss",
        "assets/src/sass/vendor/_font-awesome.scss",
        "assets/src/sass/vendor/animate.scss",
        "assets/src/sass/robolist/base/_helpers.scss",
        "assets/src/sass/robolist/base/_fonts.scss",
        "assets/src/sass/robolist/base/_typography.scss",
        "assets/src/sass/robolist/layout/_footer.scss",
        "assets/src/sass/robolist/layout/_page-content.scss",
        "assets/src/sass/robolist/layout/_navigation.scss",
        "assets/src/sass/robolist/layout/_sections.scss",
        "assets/src/sass/robolist/component/_banner.scss",
        "assets/src/sass/robolist/component/_top-header.scss",
        "assets/src/sass/robolist/component/_header.scss",
        "assets/src/sass/robolist/component/_botfooter.scss",
        "assets/src/sass/robolist/component/_cta.scss",
        "assets/src/sass/robolist/component/listing.scss",
        "assets/src/sass/robolist/component/category.scss",
        "assets/src/sass/robolist/component/_prefooter.scss",
        "assets/src/sass/robolist/component/destination.scss",
        "assets/src/sass/robolist/component/_product-cat.scss",
        "assets/src/sass/robolist/component/_blog.scss",
        "assets/src/sass/robolist/component/_testimonial.scss",
        "assets/src/sass/vendor/slick.scss",
        "assets/src/sass/vendor/ionicons.scss",
        "assets/src/sass/vendor/_tabs.scss",
        "assets/src/sass/vendor/_simplycountdown.scss",
        "assets/src/sass/vendor/_owl-carousel.scss",
        "assets/src/sass/vendor/_bootstrap-select.scss",
        "assets/src/sass/vendor/_vendor-overrides.scss",
        "assets/src/sass/robolist/utils/_hover-effects.scss",
        "assets/src/sass/robolist/utils/_media-queries.scss",
        "assets/src/sass/vendor/bootstrap/_variables.scss",
        "assets/src/sass/vendor/bootstrap/_mixins.scss",
        "assets/src/sass/vendor/bootstrap/_normalize.scss",
        "assets/src/sass/vendor/bootstrap/_print.scss",
        "assets/src/sass/vendor/bootstrap/_glyphicons.scss",
        "assets/src/sass/vendor/bootstrap/_scaffolding.scss",
        "assets/src/sass/vendor/bootstrap/_type.scss",
        "assets/src/sass/vendor/bootstrap/_code.scss",
        "assets/src/sass/vendor/bootstrap/_grid.scss",
        "assets/src/sass/vendor/bootstrap/_tables.scss",
        "assets/src/sass/vendor/bootstrap/_forms.scss",
        "assets/src/sass/vendor/bootstrap/_buttons.scss",
        "assets/src/sass/vendor/bootstrap/_component-animations.scss",
        "assets/src/sass/vendor/bootstrap/_dropdowns.scss",
        "assets/src/sass/vendor/bootstrap/_button-groups.scss",
        "assets/src/sass/vendor/bootstrap/_input-groups.scss",
        "assets/src/sass/vendor/bootstrap/_navs.scss",
        "assets/src/sass/vendor/bootstrap/_navbar.scss",
        "assets/src/sass/vendor/bootstrap/_breadcrumbs.scss",
        "assets/src/sass/vendor/bootstrap/_pagination.scss",
        "assets/src/sass/vendor/bootstrap/_pager.scss",
        "assets/src/sass/vendor/bootstrap/_labels.scss",
        "assets/src/sass/vendor/bootstrap/_badges.scss",
        "assets/src/sass/vendor/bootstrap/_jumbotron.scss",
        "assets/src/sass/vendor/bootstrap/_thumbnails.scss",
        "assets/src/sass/vendor/bootstrap/_alerts.scss",
        "assets/src/sass/vendor/bootstrap/_progress-bars.scss",
        "assets/src/sass/vendor/bootstrap/_media.scss",
        "assets/src/sass/vendor/bootstrap/_list-group.scss",
        "assets/src/sass/vendor/bootstrap/_panels.scss",
        "assets/src/sass/vendor/bootstrap/_responsive-embed.scss",
        "assets/src/sass/vendor/bootstrap/_wells.scss",
        "assets/src/sass/vendor/bootstrap/_close.scss",
        "assets/src/sass/vendor/bootstrap/_modals.scss",
        "assets/src/sass/vendor/bootstrap/_tooltip.scss",
        "assets/src/sass/vendor/bootstrap/_popovers.scss",
        "assets/src/sass/vendor/bootstrap/_carousel.scss",
        "assets/src/sass/vendor/bootstrap/_utilities.scss",
        "assets/src/sass/vendor/bootstrap/_responsive-utilities.scss",
        "assets/src/sass/vendor/fontawesome/_variables.scss",
        "assets/src/sass/vendor/fontawesome/_mixins.scss",
        "assets/src/sass/vendor/fontawesome/_path.scss",
        "assets/src/sass/vendor/fontawesome/_core.scss",
        "assets/src/sass/vendor/fontawesome/_larger.scss",
        "assets/src/sass/vendor/fontawesome/_fixed-width.scss",
        "assets/src/sass/vendor/fontawesome/_list.scss",
        "assets/src/sass/vendor/fontawesome/_bordered-pulled.scss",
        "assets/src/sass/vendor/fontawesome/_animated.scss",
        "assets/src/sass/vendor/fontawesome/_rotated-flipped.scss",
        "assets/src/sass/vendor/fontawesome/_stacked.scss",
        "assets/src/sass/vendor/fontawesome/_icons.scss",
        "assets/src/sass/vendor/fontawesome/_screen-reader.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_hide-text.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_opacity.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_image.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_labels.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_reset-filter.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_resize.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_responsive-visibility.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_size.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_tab-focus.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_reset-text.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_text-emphasis.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_text-overflow.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_vendor-prefixes.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_alerts.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_buttons.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_panels.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_pagination.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_list-group.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_nav-divider.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_forms.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_progress-bar.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_table-row.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_background-variant.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_border-radius.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_gradients.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_clearfix.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_center-block.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_nav-vertical-align.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_grid-framework.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_grid.scss"
      ]
    },
    {
      "path": "assets/src/sass/vendor/_bootstrap.scss",
      "imports": [
        "assets/src/sass/vendor/bootstrap/_variables.scss",
        "assets/src/sass/vendor/bootstrap/_mixins.scss",
        "assets/src/sass/vendor/bootstrap/_normalize.scss",
        "assets/src/sass/vendor/bootstrap/_print.scss",
        "assets/src/sass/vendor/bootstrap/_glyphicons.scss",
        "assets/src/sass/vendor/bootstrap/_scaffolding.scss",
        "assets/src/sass/vendor/bootstrap/_type.scss",
        "assets/src/sass/vendor/bootstrap/_code.scss",
        "assets/src/sass/vendor/bootstrap/_grid.scss",
        "assets/src/sass/vendor/bootstrap/_tables.scss",
        "assets/src/sass/vendor/bootstrap/_forms.scss",
        "assets/src/sass/vendor/bootstrap/_buttons.scss",
        "assets/src/sass/vendor/bootstrap/_component-animations.scss",
        "assets/src/sass/vendor/bootstrap/_dropdowns.scss",
        "assets/src/sass/vendor/bootstrap/_button-groups.scss",
        "assets/src/sass/vendor/bootstrap/_input-groups.scss",
        "assets/src/sass/vendor/bootstrap/_navs.scss",
        "assets/src/sass/vendor/bootstrap/_navbar.scss",
        "assets/src/sass/vendor/bootstrap/_breadcrumbs.scss",
        "assets/src/sass/vendor/bootstrap/_pagination.scss",
        "assets/src/sass/vendor/bootstrap/_pager.scss",
        "assets/src/sass/vendor/bootstrap/_labels.scss",
        "assets/src/sass/vendor/bootstrap/_badges.scss",
        "assets/src/sass/vendor/bootstrap/_jumbotron.scss",
        "assets/src/sass/vendor/bootstrap/_thumbnails.scss",
        "assets/src/sass/vendor/bootstrap/_alerts.scss",
        "assets/src/sass/vendor/bootstrap/_progress-bars.scss",
        "assets/src/sass/vendor/bootstrap/_media.scss",
        "assets/src/sass/vendor/bootstrap/_list-group.scss",
        "assets/src/sass/vendor/bootstrap/_panels.scss",
        "assets/src/sass/vendor/bootstrap/_responsive-embed.scss",
        "assets/src/sass/vendor/bootstrap/_wells.scss",
        "assets/src/sass/vendor/bootstrap/_close.scss",
        "assets/src/sass/vendor/bootstrap/_modals.scss",
        "assets/src/sass/vendor/bootstrap/_tooltip.scss",
        "assets/src/sass/vendor/bootstrap/_popovers.scss",
        "assets/src/sass/vendor/bootstrap/_carousel.scss",
        "assets/src/sass/vendor/bootstrap/_utilities.scss",
        "assets/src/sass/vendor/bootstrap/_responsive-utilities.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_hide-text.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_opacity.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_image.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_labels.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_reset-filter.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_resize.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_responsive-visibility.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_size.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_tab-focus.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_reset-text.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_text-emphasis.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_text-overflow.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_vendor-prefixes.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_alerts.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_buttons.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_panels.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_pagination.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_list-group.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_nav-divider.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_forms.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_progress-bar.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_table-row.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_background-variant.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_border-radius.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_gradients.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_clearfix.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_center-block.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_nav-vertical-align.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_grid-framework.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_grid.scss"
      ]
    },
    {
      "path": "assets/src/sass/vendor/_font-awesome.scss",
      "imports": [
        "assets/src/sass/vendor/fontawesome/_variables.scss",
        "assets/src/sass/vendor/fontawesome/_mixins.scss",
        "assets/src/sass/vendor/fontawesome/_path.scss",
        "assets/src/sass/vendor/fontawesome/_core.scss",
        "assets/src/sass/vendor/fontawesome/_larger.scss",
        "assets/src/sass/vendor/fontawesome/_fixed-width.scss",
        "assets/src/sass/vendor/fontawesome/_list.scss",
        "assets/src/sass/vendor/fontawesome/_bordered-pulled.scss",
        "assets/src/sass/vendor/fontawesome/_animated.scss",
        "assets/src/sass/vendor/fontawesome/_rotated-flipped.scss",
        "assets/src/sass/vendor/fontawesome/_stacked.scss",
        "assets/src/sass/vendor/fontawesome/_icons.scss",
        "assets/src/sass/vendor/fontawesome/_screen-reader.scss"
      ]
    },
    {
      "path": "assets/src/sass/vendor/bootstrap/_mixins.scss",
      "imports": [
        "assets/src/sass/vendor/bootstrap/mixins/_hide-text.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_opacity.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_image.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_labels.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_reset-filter.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_resize.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_responsive-visibility.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_size.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_tab-focus.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_reset-text.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_text-emphasis.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_text-overflow.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_vendor-prefixes.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_alerts.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_buttons.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_panels.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_pagination.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_list-group.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_nav-divider.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_forms.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_progress-bar.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_table-row.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_background-variant.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_border-radius.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_gradients.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_clearfix.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_center-block.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_nav-vertical-align.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_grid-framework.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_grid.scss"
      ]
    },
    {
      "path": "assets/src/sass/vendor/bootstrap/_theme.scss",
      "imports": [
        "assets/src/sass/vendor/bootstrap/_variables.scss",
        "assets/src/sass/vendor/bootstrap/_mixins.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_hide-text.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_opacity.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_image.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_labels.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_reset-filter.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_resize.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_responsive-visibility.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_size.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_tab-focus.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_reset-text.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_text-emphasis.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_text-overflow.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_vendor-prefixes.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_alerts.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_buttons.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_panels.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_pagination.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_list-group.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_nav-divider.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_forms.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_progress-bar.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_table-row.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_background-variant.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_border-radius.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_gradients.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_clearfix.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_center-block.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_nav-vertical-align.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_grid-framework.scss",
        "assets/src/sass/vendor/bootstrap/mixins/_grid.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7883,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"sourceMap\":false,\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"replaceSegments\":[\"javascript\",\"js\"],\"replaceSegmentsWith\":\"js\",\"relative\":\"\"},\"outputSuffix\":\"-dist\",\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-concat-js\":{\"enabled\":true}}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}